{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div>
    <h4 style="margin-block-end: 0.13em;">
      <a href="{{ (index . 0).Parent.Permalink }}">{{ $label }}:</a>
    </h4>
    
      {{- range . }}
        <a href="{{ .RelPermalink }}"> {{ .LinkTitle }} </a>
      {{- end }}
  </div>
{{- end }}
